<%= geo_chart @country %>
<h1>MyVoice Survey Status</h1>

<table>
  <thead>
    <tr>
      <th>Region</th>
      <th>% Complete</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @region_uri.each do |item| %>
    <% a = item.values %>
      <tr>
        <td><%= a[0] %></td>
        <td><%= a[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>% Complete</th>
      <th colspan="8"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @country_uri.each do |item| %>
    <% a = item.values %>
      <tr>
        <td><%= a[0] %></td>
        <td><%= a[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Business Unit</th>
      <th>% Complete</th>
      <th colspan="8"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @biz_unit_uri.each do |item| %>
    <% a = item.values %>
      <tr>
        <td><%= a[0] %></td>
        <td><%= a[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Center of Excellence</th>
      <th>% Complete</th>
      <th colspan="8"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @coe_uri.each do |item| %>
    <% a = item.values %>
      <tr>
        <td><%= a[0] %></td>
        <td><%= a[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
